<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive profile-border" src="assets/portfolio/me.jpg" alt="">
                <div class="intro-text">
                    <span class="name">{{ brandtitle }}</span>
                    <hr class="star-light">
                    <span class="skills">Front End Developer - Web - Mobile - Researcher</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="" class="portfolio-link" ng-click="open('','HTML5 Experiments','html5')" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/portfolio/cabin.png" class="img-responsive" alt="" />
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="" class="portfolio-link" ng-click="open('','Academic Experiments','Flash')" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/portfolio/cake.png" class="img-responsive" alt="" />
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="" class="portfolio-link" ng-click="open('','Data Visualization','visual')" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/portfolio/circus.png" class="img-responsive" alt="" />
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="" class="portfolio-link" ng-click="open('','Work Projects','work')" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/portfolio/game.png" class="img-responsive" alt="" />
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="" class="portfolio-link" ng-click="open('','Interesting Samples','graphic')" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/portfolio/safe.png" class="img-responsive" alt="" />
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="" class="portfolio-link" ng-click="open('',' More Apps','image')" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/portfolio/submarine.png" class="img-responsive" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>